
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E Commerce Food</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/elegant-icons.css" rel="stylesheet" />
    <link href="~/css/nice-select.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/slicknav.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href='@Url.Action("Index", "Home") '><img src="~/img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href='@Url.Action("ShoppingCart", "Menu") '><i class="fa fa-shopping-bag"></i> </a></li>
            </ul>
            <div class="header__cart__price">Total: <span id="totalMenuSecundario"></span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">

                <div>Español</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Español</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
        </div>

        <div id="mobile-menu-wrap"></div>
    </div>
    <!-- Humberger End -->
    <!-- Menu normal -->
    <header class="header">
        <div style="background-color: black;" class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">

                    </div>
                    <div style="background-color: black;" class="col-lg-6 col-md-6">
                        <div class="header__top__right">

                            <div class="header__top__right__language">
                                <div style="color: white;">Español</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Español</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="#" style="color: white;"><i class="fa fa-user"></i> Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href='@Url.Action("Index", "Home") '><img src="~/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li class="cart">
                                <a href='@Url.Action("ShoppingCart", "Menu") ' style="width:6rem; padding-right:1rem">

                                    <ion-icon name="basket" style="font-size: 25px"></ion-icon> <span> 0</span>
                                </a>
                            </li>
                            @*<li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>*@
                        </ul>
                        <div class="header__cart__price">Total: <span id="totalCarro"></span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="center col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    <div class="hero__categories">
                                        Categorias
                                    </div>
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="">
                                <button type="submit" style="background-color: black;" class="site-btn">BUSCAR</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h3 style="color: black;"><b>SELECCIONAR FORMA DE PAGO</b></h3>
                        <div style="color: black;" class="breadcrumb__option">
                            <a style="color: black;" href="./index.html">Inicio</a>
                            <span style="color: black;">Seleccionar forma de pago</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">

            <div class="">
                <div class="">
                    <ul>


                        <select class="md-form justify-content-center">
                            <option value="1"><b>Efectivo</b> </option>
                            <option value="2"><b>Tarjeta de Crédito</b> </option>
                            <option value="3"><b>Cheque</b></option>
                        </select>

                    </ul>
                    <br><br><br>
                </div>
            </div>
            <div class="">
                <div class="">
                    <div class="checkout__order__subtotal"><b>Subtotal: </b><span> ₡15855.00</span></div>
                    <br>
                </div>
                <div class="">
                    <div class="checkout__order__total"><b>Descuento:</b> <span> ₡0.00</span></div>
                </div>
                <br>

                <div class="">
                    <div class="checkout__order__total"><b>Total:</b> <span> ₡15855.00</span></div>
                </div>
            </div>



            <br>

            <a href="./payment.html" style="background-color: black;" class="primary-btn">ELEGIR FORMA DE PAGO</a>

        </div>
    </section>
    <!-- Checkout Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href='@Url.Action("Index", "Home") '><img src="~/img/logo.png" alt=""></a>
                        </div>
                        <ul>

                            <li>Phone: +506 2225 6786</li>
                            <li>Email: service@e-food.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">

                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="~/img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer SectionEnd -->
    <!-- Js Plugins -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/CarritoTotalOtrasClases.js"></script>
    <script src="~/js/main.js"></script>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>




</body>

</html>