
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="">

<head>
    <meta charset=UNICODE HTTP-EQUIV="Content-Language" CONTENT="idioma-variante">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E Commerce Food</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/elegant-icons.css" rel="stylesheet" />
    <link href="~/css/nice-select.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/slicknav.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/451709ffa5.js" crossorigin="anonymous"></script>
    <link href="~/css/normaliza.css" rel="stylesheet" />
    <link href="~/css/style2.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href='@Url.Action("Index", "Home") '><img src="~/img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href='@Url.Action("ShoppingCart", "Menu") '><i class="fa fa-shopping-bag"></i> </a></li>
            </ul>
            <div class="header__cart__price">SubTotal: <span id="totalMenuSecundario"></span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">

                <div>LANG</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a class="translate" id="es">Español</a></li>
                    <li><a class="translate" id="en">English</a></li>
                    <li><a class="translate" id="dt">Deutsche</a></li>
                    <li><a class="translate" id="it">Italiano</a></li>
                </ul>
            </div>
        </div>

        <div id="mobile-menu-wrap"></div>
    </div>
    <!-- Humberger End -->
    <!-- Menu normal -->
    <header class="header">
        <div style="background-color: black;" class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">

                    </div>
                    <div style="background-color: black;" class="col-lg-6 col-md-6">
                        <div class="header__top__right">

                            <div class="header__top__right__language">
                                <div style="color: white;">LANG</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a class="translate" id="es">Español</a></li>
                                    <li><a class="translate" id="en">English</a></li>
                                    <li><a class="translate" id="dt">Deutsche</a></li>
                                    <li><a class="translate" id="it">Italiano</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href='@Url.Action("Index", "Home") '><img src="~/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li class="cart">
                                <a href='@Url.Action("ShoppingCart", "Menu") ' style="width:6rem; padding-right:1rem">

                                    <ion-icon name="basket" style="font-size: 25px"></ion-icon> <span> 0</span>
                                </a>
                            </li>
                            @*<li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>*@
                        </ul>
                        <div class="header__cart__price">SubTotal: <span id="totalCarro"></span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <div class="contenido-principal contenedor">

        <main class="inicio">
            <form>
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <label for="buscar" class="lang" key="buscar">Buscar</label>
                    </div>
                    <div class="col-3">
                        <select id="combo" class="form-control"> </select>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="productoSeleccionado" />
                        <a id="buscar"><i class="fas fa-check-square"></i></a>

                    </div>
                </div>
            </form>
        </main>
    </div>

    <!-- Breadcrumb Section Begin -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h3 style="color: black;"><b class="lang" key="carritoDeCompras">CARRITO DE COMPRAS</b></h3>

                </div>
            </div>
        </div>
    </div>

    <!-- Breadcrumb Section End -->
    <!-- Shoping Cart Section Begin -->
    <div class="products-container">
        <div class="product-header">
            <h5 class="product-title lang" key="producto">PRODUCTO</h5>
            <h5 class="price sm-hide lang" key="precio">PRECIO</h5>
            <h5 class="quantity lang" key="cantidad">CANTIDAD</h5>
            <h5 class="total lang" key="total">TOTAL</h5>
            <h5 class="total lang" key="eliminar">Eliminar</h5>
        </div>
        <div class="products">

        </div>
        <div class="basketTotalContainer">
            <a href='@Url.Action("CheckOut", "Menu") ' style="background-color: black;" class="primary-btn lang" key="pagar">PAGAR</a>
        </div>


    </div>
    <!-- Shoping Cart Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href='@Url.Action("Index", "Home") '><img src="~/img/logo.png" alt=""></a>
                        </div>
                        <ul>

                            <li class="lang" key="tel">Telefono: +506 2225 6786</li>
                            <li class="lang" key="email">Email: service@e-food.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">

                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="~/img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @Html.Hidden("RedirectTo", Url.Action("ResultadoBusqueda", "Menu"))
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/BuscarProducto.js"></script>
    <script src="~/js/carrito.js"></script>
    <script src="~/js/scriptIdioma.js"></script>
</body>

</html>
